pandas
openpyxl
langchain ==1.2.0
langchain-groq
faiss-cpu
tiktoken
langchain-community
#langchain-openai
chromadb
sentence-transformers
pypdf
python-dotenv
pymupdf
unstructured
pdfminer
python-docx
docx2txt
jq
matplotlib
langchain-huggingface
langchain-text-splitters
sentence-transformers
langchain-experimental
rank_bm25
wikipedia
langgraph
python-docx
docx2txt
mysql-connector-python
psycopg2
python-dotenv
genai
google-generativeai
langchain_google_genai
langchain_google_vertexai
# from Agentic Ai folder
langchain
langgraph
langchain-core
langchain-community
python-dotenv
langchain-openai
langchain-groq
arxiv
wikipedia
langgraph-cli[inmem]
faiss-cpu
arxiv
wikipedia


